
<div class="panel panel-default">
	<div class="panel-body">
		<p>
			<strong>Car Model:</strong>
			<%= @contract.car_model %>
		</p>

		<p>
			<strong>Driver Name:</strong>
			<%= @contract.driver_name %>
		</p>

		<p>
			<strong>Due Date:</strong>
			<%= @contract.due_date %>
		</p>
			<p>
			<strong>Customer:</strong>
			<%= @customer.name %>
		</p>
	</div>
</div>
